:root {
    --color: rgb(70,70,80);
    --bColor: #D78C52;
    --contentHeight: calc(60vh - 69px);
}
.container {
    height: 100%;
    background-color: white;
}
.jumbotron {
    width: 100%;
    height: 40vh;
    background-image: url('../../images/breeds-2.jpg');
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--contentHeight);
    width: 75%;
    margin: 0 auto;
}
.title {
    color: black;
    font-size: 4rem;
    margin: 0;
    padding: 2rem 0;
}
.text {
    margin: 0;
    padding: 2rem 0;
}
.button {
    width: 100px;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--color);
}
.button a {
    font-size: large;
    text-decoration: none;
    color: white;
}
.button:hover {
    cursor: pointer;
}